{% extends '/base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<section class="post">
	<header class="major">
		<h1>Jaeyoung's Clone</h1>
	</header>
	<p>Ask me anything to my clone!</p>
	<hr>
	<form method="post" action="/chatbot" role="form">
		<div class="row gtr-uniform">
			<div class="col-12">
				<textarea name="askarea" id="askarea" placeholder="Ask me anything!" rows="1"></textarea>
			</div>
			<!-- Break -->
			<div class="col-12">
				<ul class="actions">
					<li><input type="submit" value="Ask" id="submit" class="primary" name="submit"/></li>
					<li><input type="reset" value="Reset" id="reset" name="reset"/></li>
					<li><input type="checkbox" id="debug" name="debug"><label for="debug">Debug</label></li>
				</ul>
			</div>
		</div>
	</form>
	<div class="progress" style="margin: 1vh 0;">
		<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
	<div class="col-12">
		<textarea readonly name="text" id="replyarea" placeholder="Reply" rows="5">{{ reply }}</textarea>
	</div>
	<hr>
	<h2>How does it work?</h2>
	<p>Thanks to the acceleration of NLP(Natural Language Processing) and its pretrained model from many companies,
	making chatbot is easier than ever!</p>
	<p>Precisely, this is not a chatbot. It is a transformers model that understand the context and extract the answer of your question.
	My cover letter is used for the context, and I use Google's BERT (Bidirectional Encoder Representations from Transformers) model which is made by Google.</p>
	<p>All you need is four lines of code :)</p>
	<pre>
		<code>>>> from transformers import pipeline, BertForQuestionAnswering, BertTokenizer
>>> model = "deepset/bert-large-uncased-whole-word-masking-squad2"
>>> replier = pipeline('question-answering', 
...			model=BertForQuestionAnswering.from_pretrained(model), 
...			tokenizer=BertTokenizer(model))
>>> replier(question=your_question, context=my_cover_letter)
# {'score': confidence, 'start': , 'end': , 'answer': answer}</code>
	</pre>
	<p>See? So easy to use. I also add extra feature such as print "I don't know" if confidence is below 0.5.</p>
	<p>Also, your question will be uploaded to my database. <br />
	The question that the bot could not answer will be kept updated :)</p>
</section>

<script type="text/javascript">
$(".progress").hide();
$("#submit").click(function(e){
	$(".progress").show(1000);
	reset();
	e.preventDefault();
    var text = $("#askarea").val();
    var debug = $("#debug").is(':checked');
    $.ajax({
		url: "/chatbot",
		type: "POST",
		data: {'text': text, 'debug': debug},
		update_progress: function() {
			window.setInterval(function() {
				$.ajax({
					url: '/chatbot/progress',
					type: 'POST',
					}).done(function(data) {
						$('.progress-bar').animate({'width': data + '%'}).attr('aria-valuenow', data);
					})
				}, 100);
			},
  	    success: function(response) {
     	   $("#replyarea").html(response);
			$(".progress > .progress-bar").addClass("bg-success");
			$(".progress > .progress-bar").animate({"width": "100%"}).attr('aria-valuenow', 100);
	    	},
		error: function(xhr) {
			$("#replyarea").html('Something went wrong!')
			$(".progress > .progress-bar").addClass("bg-danger");
			$(".progress > .progress-bar").animate({"width": "100%"}).attr('aria-valuenow', 100);
			}
    });
});

$("#reset").click(function(e){
	$(".progress").hide(1000).attr('aria-valuenow', 0);	
	reset();
});

function reset()
{
	$(".progress > .progress-bar").animate({"width": "0%"}).attr('aria-valuenow', 0);
	$(".progress > .progress-bar").removeClass("bg-success").removeClass("bg-danger");	
}
</script>
{% endblock %}